{% extends 'base.html' %}

{% block head %}




{% endblock %}



{% block body %}

<!-- Insert HTML division tag to layout the map --> 
<div id="map"></div>


<!-- Insert Javascript (.js) code to create the map -->
<script src="{{ url_for('static', filename='js/leaflet.js')}}"></script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        <p class="lead">Please upload your CSV-File.</p>
        <br>
        <form action="http://localhost:5000/" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" />
          <br>
          <br>        
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary align-left" />
        </form>
      </div>

    </div>

  </div>
</div>


{% endblock %}