{% extends 'base.html' %}

{% block head %}




{% endblock %}



{% block body %}

<!-- Insert HTML division tag to layout the map -->
<div id="map"></div>


<!-- Insert Javascript (.js) code to create the map -->
<script src="{{ url_for('static', filename='js/leaflet.js')}}"></script>
<script src='https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster-src.js'></script>









<script>


  // -- Converts DMS coordinates to Decimal
  function convertDMStoD(DMS) {

    result = 0.00000
    wholeDegrees = Math.trunc(0.01 * DMS);
    result = wholeDegrees + (DMS - 100.0 * wholeDegrees) / 60.0;
    return result

  }







  // -- specify popup options 
  var customOptions =
  {
    'maxWidth': '500',
    'className': 'custom'
  }

  // -- Init MarkerCluster
  var mcg = L.markerClusterGroup({
    chunkedLoading: true,
    //spiderfyOnMaxZoom: true
    disableClusteringAtZoom: 16
  });



  // -- Sets Markers on the Map
  {% for s in mapsettings.settings %}



  console.log("{{s.filename}}");
  console.log("{{s.color}}");
  //console.log(mapIcon)
  console.log("{{ url_for('static', filename='pictures/pointer_')}}" + "{{ s.color }}" + ".png")
  console.log('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + '{{s.color}}' + '&chf=a,s,ee00FFFF');






  // Read markers data from CSV
  $.get("{{ url_for('static', filename='upload/')}}" + "{{ s.filename }}", function (csvString) {

    var mapIcon = L.icon({
      iconUrl: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + '{{s.color}}' + '&chf=a,s,ee00FFFF',
      iconSize: [20, 30], // size of the icon
      popupAnchor: [0, -15]
    });

    // Use PapaParse to convert string to array of objects
    var data = Papa.parse(csvString, { header: true, dynamicTyping: true }).data;

    for (var i in data) {
      var row = data[i];
      var markerPopup ="<br/>Filename: " + "{{ s.filename }}" + "<br/>Date: " + row.Date + "<br/>Time: " + row.Time + "<br/>Speed: " + row.Speed + "km/h<br/>Roll: " + parseInt(row.Roll) + "°<br/>";

      try {
        var marker = L.marker([convertDMStoD(row.Latitude), convertDMStoD(row.Longitude)], {
          icon: mapIcon

        }).bindPopup(markerPopup, customOptions);

        mcg.addLayer(marker);
      } catch (error) {
        console.error(error);
        console.error(row);
      }





    }
    map.addLayer(mcg);

  });



  {% endfor %}
</script>



<!-- Modal setMarker Data -->
<div class="modal fade" id="setMarkerModal" tabindex="-1" aria-labelledby="setMarkerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="setMarkerModalLabel">Set Marker</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        {% if mapsettings.colorcount < 3 %} <form action="/selectfile" method="POST" enctype="multipart/form-data">
          <input id="selected_filename" type="hidden" name="filename" value="">
          <p class="lead">Please choose a color.</p>
          <br>

          {% for c in mapsettings.colors %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadio" value="{{c[1]}}" id="flexRadioBlue" {% if c[2]
              %} disabled {% endif %}>
            <label class="form-check-label" for="flexRadioBlue">
              {{c[0]}}
            </label>
          </div>
          {% endfor %}
          {% endif %}

          {% if mapsettings.colorcount >= 3 %}
          <p class="lead">Please reset Markers to add another route</p>
          {% endif %}

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% if mapsettings.colorcount
        < 3 %}<input type="submit" class="btn btn-primary align-left" value="Set Marker"/>{% endif %}
      </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal Upload Data -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="uploadModalLabel">Upload Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        <p class="lead">Choose CSV-File:</p>
        <form action="/upload_data" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" value="Choose File" accept=".csv" />
          <br>
          <br>
          <br>
          <p class="lead">Filename (optional):</p>
          <input type="text" id="fname" name="fname"><label for="csv"> .csv</label><br><br>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary align-left" value="Upload"/>
        </form>
      </div>
    </div>
  </div>
</div>

</div>


<!-- Modal Delete Data -->
<div class="modal fade" id="delFileModal" tabindex="-1" aria-labelledby="delFileModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="uploadModalLabel">Delete File</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/deletfile" method="POST" enctype="multipart/form-data">
          <input id="deleting_filename" type="hidden" name="filename" value="">
          <p class="lead">The following file will be deleted!</p>
          <div id="deleting_filename_display"></div>
          <br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <input type="submit" class="btn btn-danger align-left" value="Delete" />
      </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}


{% block afterscript %}
<script>

  var setMarkerModal = document.getElementById('setMarkerModal');


  setMarkerModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget; // Gets the button who opens the modal
    var filename = button.getAttribute('filename');
    document.getElementById('selected_filename').setAttribute('value', filename);
  })




  var delModal = document.getElementById('delFileModal');


  delModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget; // Gets the button who opens the modal
    var filename = button.getAttribute('filename');
    console.log(filename);
    document.getElementById('deleting_filename').setAttribute('value', filename);
    document.getElementById('deleting_filename_display').innerHTML = filename
  })



</script>

{% endblock %}