{% extends 'base.html' %}

{% block head %}




{% endblock %}



{% block body %}

<!-- Insert HTML division tag to layout the map -->
<div id="map"></div>


<!-- Insert Javascript (.js) code to create the map -->
<script src="{{ url_for('static', filename='js/leaflet.js')}}"></script>
<script src='https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster-src.js'></script>


<script>

  var mcg = L.markerClusterGroup({
    chunkedLoading: true,
    //spiderfyOnMaxZoom: true
    disableClusteringAtZoom: 16
  });

  // create custom icon
  var blueIcon = L.icon({
    iconUrl: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|abcdef&chf=a,s,ee00FFFF',
    iconSize: [20, 30], // size of the icon
    popupAnchor: [0, -15]
  });
  var greenIcon = L.icon({
    iconUrl: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|2ecc71&chf=a,s,ee00FFFF',
    iconSize: [20, 30], // size of the icon
    popupAnchor: [0, -15]
  });
  var redIcon = L.icon({
    iconUrl: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|e85141&chf=a,s,ee00FFFF',
    iconSize: [20, 30], // size of the icon
    popupAnchor: [0, -15]
  });


  // specify popup options 
  var customOptions =
  {
    'maxWidth': '500',
    'className': 'custom'
  }

  function convertDMStoD(DMS) {

    final = 0.00000

    wholeDegrees = Math.trunc(0.01 * DMS);


    final = wholeDegrees + (DMS - 100.0 * wholeDegrees) / 60.0;

    return final

  }



  // Read markers data from CSV
  $.get("{{ url_for('static', filename='upload/')}}" + "00017.csv", function (csvString) {

    // Use PapaParse to convert string to array of objects
    var data = Papa.parse(csvString, { header: true, dynamicTyping: true }).data;

    // For each row in data, create a marker and add it to the map
    // For each row, columns `Latitude`, `Longitude`, and `Title` are required
    /*
    for (var i in data) {
      var row = data[i];
      var markerPopup = "<br/>Speed: " +  row.Speed  + "km/h<br/>Roll: " + row.Roll + "°<br/>";

      var marker = L.marker([convertDMStoD(row.Latitude), convertDMStoD(row.Longitude)], {
        icon: redIcon
      }).bindPopup(markerPopup, customOptions);

      marker.addTo(map);
    }
    */

    for (var i in data) {
      var row = data[i];
      var markerPopup = "<br/>Speed: " + row.Speed + "km/h<br/>Roll: " + row.Roll + "°<br/>";

      var marker = L.marker([convertDMStoD(row.Latitude), convertDMStoD(row.Longitude)], {
        icon: redIcon
      }).bindPopup(markerPopup, customOptions);

      mcg.addLayer(marker);
    }
    map.addLayer(mcg);

  });
</script>



<!-- Modal setMarker Data -->
<div class="modal fade" id="setMarkerModal" tabindex="-1" aria-labelledby="setMarkerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="setMarkerModalLabel">Set Marker</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        <p class="lead">Please choose a color.</p>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioBlue">
          <label class="form-check-label" for="flexRadioBlue">
            Blue
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioGreen" checked>
          <label class="form-check-label" for="flexRadioGreen">
            Green
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioRed" checked>
          <label class="form-check-label" for="flexRadioRed">
            Red
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Set Marker</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Upload Data -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="uploadModalLabel">Upload Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        <p class="lead">Please upload your CSV-File.</p>
        <br>
        <form action="/upload_data" method="POST" enctype="multipart/form-data">
          <label for="fname">Filename:</label>
          <input type="text" id="fname" name="fname"><label for="csv"> .csv</label><br><br>
          <input type="file" name="file" />
          <br>
          <br>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary align-left" />
        </form>
      </div>
    </div>
  </div>
</div>





{% endblock %}